/bin/
/AllMetricSet.txt
/AllMetricsAntBuilderTestReport.html
/AllMetricsAntBuilderTestReport.xml
/AntBuilderTestReport.html
/AntBuilderTestSingleSeriesMethodHtmlReport.html
/AntBuilderTestSingleSeriesPackageHtmlReport.html
/AntBuilderTestXmlReport.xml
/CRAP_AntBuilderTest.html
/CoberturaCoverage_AntBuilderTest-GMetricsReport.html
/CoberturaCoverage_AntBuilderTest-GMetricsReport.xml
/GMetricsReport.html
/GMetricsSingleSeriesReport.html
/GMetricsXmlReport.xml
/build/
/.gradle/
/testreports/


# Created by https://www.gitignore.io/api/eclipse

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Code Recommenders
.recommenders/

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# End of https://www.gitignore.io/api/eclipse

.idea/
*.iml
/out/
